body{

background: repeating-linear-gradient(90deg,white,white);

}

table{
	font-family: Verdana;
}
img{
display:block;
margin:auto;

}

img{
  width: 110px; height: 110px;
}
tr{
	font-size:15px;
}

.contenedor{
	width:980px;
	height:500px;
	background-color:#DB4C47;
	margin:auto;
	
}

.fa-facebook-square{
	color:blue;
	background-color:black;
	padding:12px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
}
.fa-youtube{
	color:red;
	background-color:black;
	padding:12px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
}
.fa-instagram{
	color:#F56040;
	background-color:black;
	padding:12px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
}

.fa-github{
	
	color:#171515;
	background-color:white;
	padding:12px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
	
	
}



.letra{
  margin-top: -3em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.letra2{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.letra3{
  margin-top: -6em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}



.letra4{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.cabecera{
	margin:auto;
	width:980px;
	height:190px;
	background-color:#D9BD91;
  
}

h1{
	font-family:Verdana;
}